.jumbotron {
  border-radius: 0;
  text-align: center;
  font-size: xx-large;
  color: white;
  padding: 10px;
  margin: 0;
  background: linear-gradient(
    0.25turn,
    #9198e5,
    #3f87a6,
    #3f87a6,
    #3f87a6,
    #9198e5
  );
}

.searchCol {
  color: white;
  min-height: 100vh;
  background: linear-gradient(#9198e5, #e66465);
  padding: 20px;
}

#searchForm {
  padding: 3px 3px 10px 3px;

  border-bottom: 3px solid white;
  border-radius: 2px;
}

.low {
  border-radius: 6px;
  background-color: green;
  padding: 5px;
  color: white;
}

.moderate {
  border-radius: 6px;
  background-color: yellow;
  padding: 5px;
  color: black;
}

.high {
  border-radius: 6px;
  background-color: red;
  padding: 5px;
  color: white;
}
